:root {
  --heading-font: 'Inter', sans-serif;
  --body-font: 'Kanit', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-family: var(--heading-font) !important;
  font-style: italic !important;
}

.text-align--center {
  text-align: center;
}

.box {
  padding-top: 20px;
}

.stretched-button {
  width: 100%;
  height: 100%;
}

iframe {
  pointer-events: none;
}

.grid {
  padding: 25px;
}