:root {
  --heading-font: "Inter", sans-serif;
  --body-font: "Kanit", sans-serif;

  --background-color-content: rgb(0, 19, 33, 0.8);
  --background-color: rgb(0, 19, 33);
  --border-color: rgb(19, 55, 82);
  --action-color: rgb(0, 227, 180);
  --heading-text-color: rgb(255, 255, 255);
  --body-text-color: ghostwhite;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-family: var(--heading-font) !important;
  font-style: italic !important;
}

.text-align--center {
  text-align: center;
}

.text-align--left {
  text-align: left;
}

.box {
  padding-top: 20px;
}

.stretched-button {
  width: 100%;
  height: 100%;
}

iframe {
  pointer-events: none;
}

.grid {
  padding: 25px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.label {
  font-family: var(--body-font);
}

.fungible-token-thumbnail {
  width: 75px;
  height: 75px;
}

.fungible-token-preview {
  width: 200px;
  height: 200px;
}

.margin-top--20px {
  margin-top: 20px;
}

.padding--40px {
  padding: 2em;
}

.hover-animation {
  transition: box-shadow 0s;
}

.cursor--pointer {
  cursor: pointer;
}

.nft-row {
  background-color: var(--background-color) !important;
}

.MuiButton-root {
  background-color: var(--action-color) !important;
}

.MuiButton-root:hover {
  background-color: var(--border-color) !important;
}

.nft-show {
  background-color: var(--background-color) !important;
}

.nft-show-table {
  border: 1px solid var(--border-color) !important;
}

.border-bottom--border-color {
  border-bottom: 1px solid var(--border-color) !important;
}

.text-overflow--ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content-text {
  font-family: var(--body-font);
}